# This file provides examples of Klipper G-Code macros.  The snippets
# in this file may be copied into the main printer.cfg file and
# customized.

# See docs/Config_Reference.md for a description of parameters.


######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set EXTRUDER_STANDBY_TEMP = params.EXTRUDER_STANDBY_TEMP|default(150)|float %}
    # Wait for bed heating
    M190 S{BED_TEMP}
    # Wait for extruder heating 
    M109 S{EXTRUDER_STANDBY_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Gantry Tilt Adjust
    G34  
    # Bed Mesh Leveling
    G29
    # Move the nozzle near the bed
    G1 Z2.0 F3000
    # Move to start position
    G1 X0.1 Y20 Z30 F5000.0
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Reset Extruder
    G92 E0
    # Start close to bed
    G1 Z0.3
    # Draw the first line
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15
    # Move to side a little
    G1 X0.4 Y200.0 Z0.3 F5000.0
    # Draw the second line
    G1 X0.4 Y20 Z0.3 F1500.0 E30
    # Reset Extruder
    G92 E0
    # Move Z Axis up little to prevent scratching of Heat Bed
    G1 Z2.0 F3000
    # Move over to prevent blob squish
    G1 X5 Y20 Z0.3 F5000.0 

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    # Clear head and bring bed to the front
    G1 X5 Y299 F3000
    G90
    # Disable steppers
    M84

[gcode_macro G29]   # If moving from marlin to klipper uncomment to mimic G29
gcode:
  BED_MESH_CALIBRATE
  G1 X0 Y0 Z10 F4000

[gcode_macro G34]
gcode:
    #probe_reset
    Z_TILT_ADJUST


######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

#[pause_resume]

#[gcode_macro M600]
#gcode:
#    {% set X = params.X|default(50)|float %}
#    {% set Y = params.Y|default(0)|float %}
#    {% set Z = params.Z|default(10)|float %}
#   SAVE_GCODE_STATE NAME=M600_state
#   PAUSE
#   G91
#   G1 E-.8 F2700
#    G1 Z{Z}
#    G90
#    G1 X{X} Y{Y} F3000
#    G91
#    G1 E-50 F1000
#    RESTORE_GCODE_STATE NAME=M600_state
